[build]
  publish = "."

[[plugins]]
  package = "@netlify/plugin-lighthouse"

  [plugins.inputs]
    output_path = "reports/lighthouse.html"

[[plugins]]
  package = "@netlify/plugin-sitemap"

  [plugins.inputs]
    baseUrl = "https://terminal-site-omgitsthedm.netlify.app"
